@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald:wght@200;300;400;500;600;700&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding:0;
    margin:0;
}
body{
    font-family: work sans;
}
h1,h2,h3,h4,h5,h6{
    font-family:wswald;
}
section{
    margin:80px 0px;
}
.container{
    width:1140px;
    padding-left:15px;
    padding-right:15px;
    margin:auto;


}


.phone {
    width: 178px;
    float: left;
    padding: 15px 24px;
    border-left: 1px solid #a9a0a0dd;
    font-weight: 600;
    border-right: 1px solid #a9a0a0dd;
}

.topbar-main {
    background: #DDE3E9;
}

.email {
    float: left;
    width: 588px;
    padding: 15px 40px;
    font-weight: 600;
}

.phone i {
    color: #FB5200;
}

.top-wrapper {
    overflow: hidden;
}

.email i {
    color: #FB5200;
}

.social {
    font-size: 21px;
}

.social a {
    text-decoration: none;
    border-left: 1px solid #8b8181;
    padding: 24px 15px;
}

.social a i {
    padding: 13px 0px;
    color: #1c1614;
}   
a.linkedin {
    border-right: 1px solid #786e6e;
}
.social a :hover{
    color:#FB5200;
    transition-timing-function: linear;
    transition-duration: .4s;
}
.logo img {
    width: 94px;
    padding: 37px 0px;
    float: left;
    overflow: hidden;
}

.menu ul li {
    list-style: none;
    float: left;
    padding: 52px 31px;
}

.menu ul li a {
    text-decoration: none;
    color: #1a1919;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    font-family:oswald;
}

.primary-wrapper {
    overflow: hidden;
}

.menu ul {padding-left: 248px;}

.menu ul li a:hover{
    color:#FB5200;
    transition-timing-function: linear;
    transition-duration: .4s;
}
section#home-slider {
    background: url(mediPicture/shutterstock_582888679.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
    overflow: hidden;
    margin-top: -21px;
}

section#home-slider h1 {
    text-transform: uppercase;
    font-family: oswald;
    color: #FB5200;
    width: 300px;
    /* padding: 253px 156px; */
    font-weight: 900;
    font-size: 31px;
    word-spacing: 8px;
    line-height: 50px;
    margin-left: 218px;
    margin-top: 200px;
}

section#home-slider p {
    width: 400px;
    padding: 62px 219px;
    font-size: 21px;
    font-weight: 400;
    color: #FB5200;
    text-transform: capitalize;
}

button.info {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 800;
    
    margin-left: 219px;
    padding: 12px 13px;
    border-radius: 18px;
    margin-bottom: 200px;
    cursor: pointer;
}
button.info:hover{
    background-color: #FB5200;
    transition-delay:ease-in-out;
    color:white;
}

.single-service {
    overflow: hidden;
    width: 250px;
    background: #FFFFFF;
    margin-top: 60px;
    border-radius: 10px;
    height: 434px;
    float: left;
    margin-left: 32px;
}

.service-wrapper {
   overflow: hidden;
   height:550px;
}

section.our-service {
    overflow: hidden;
    background: #E9EBEC;
}

.icon {
    font-size: 31px;
    text-align: center;
    padding: 31px 0px;
    color: #fb5200;
}

.single-service h2 {
    font-size: 32px;
    text-transform: capitalize;
    font-family: oswald;
    text-align: center;
    padding: 0px 4px;
}

.single-service p {
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    padding: 34px 4px;
    line-height: 29px;
}

a.arrow {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    padding: 0px 59px;
    color: #fb5200;
}

a.arrow i {
    padding: 0px 7px;
}



.team-img img {
    width: 550px;
    overflow: hidden;
    float: left;
    margin-right: 89px;
}

.team-info h1 {
    text-transform: uppercase;
    font-family: oswald;
    font-size: 32px;
    margin-bottom: 16px;
}

.team-info p {font-size: 18px;font-weight: 500;margin-bottom: 2px;}

.team-facilities ul li {
    float: left;
    margin-right: 29px;
    font-weight: 500;
    list-style: none;
    margin-top: 23px;
}

.team-facilities ul li i {
    color: #fb5200;
}

button.get-more {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    font-family: work sans;
    margin-top: 51px;
    padding: 10px 13px;
    border: navajowhite;
    border-radius: 9px;
    cursor: pointer;
}
button.get-more:hover{
    color:white;
    background-color: #FB5200;
    transition-timing-function: linear;
    transition: .3s;

}
section.user-rate {
    background: url(medipicture/young-male-doctor-gynecologist-isolated-white-173622793.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
    overflow: hidden;
}

.user-icon {
    font-size: 84px;
    text-align: center;
    margin-top: 81px;
}

.user-icon a i {
    color: #fb5200;
}




.single-user {
    width: 250px;
    overflow: hidden;
    float: left;
    margin-left: 32px;
}

.user-info h1 {
    font-size: 57px;
    font-family: work sans;
    text-align: center;
    margin-top: 36px;
}

.user-info h3 {
    font-family: 'Oswald';
    text-align: center;
    margin-top: 22px;
    margin-bottom: 91px;
}